<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

  <body class="vh-100 p-6 bg-dark" >
    <%- include('../partials/navigation-index.ejs') %>
    <main  class="d-flex flex-row justify-content-center overflow-hidden p-5">
        <table class="table table-dark my-3 h-100">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Number</th>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody>
              <!-- =================Iterate throught the contacts and diaplay the names ============================== -->
                  <% for(var i=0; i<contacts.length; i++) {%>
                      <tr>
                        <th scope="row"><%=i+1%> </th>
                        <td><%= contacts[i].name %></td>
                        <td><%= contacts[i].email %></td>
                        <td><%= contacts[i].phone %></td>
                        <td>
                          <button class="btn btn-primary btn-sm">
                            <a class="fw-bold text-white" href="/updateContacts">Update</a>
                          </button>
                          <button class="btn btn-danger btn-sm">
                            <a class="fw-bold text-white" href="/delete/<%= contacts[i].id%>">Delete</a>
                          </button>
                        </td>
                      </tr>
                <% } %>
            </tbody>
          </table>
    </main>
  </body>
  <%- include('../partials/footer.ejs') %>

</html>